[alias]
    ce = commit --edit
    cane = commit --amend --no-edit
    branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(color:bold)%(refname:short)\n  %(authorname) %(color:red)%(authordate:relative)%(color:white)\" refs remotes
    dt = difftool --gui
    dtc = difftool --no-gui
    mt = mergetool --gui
    precommit= "!f() { $DOTFILES/storage/git/precommit/install.sh $1; }; f"
    sa = stash apply
    sai = "!f() { git stash apply stash@{$1}; }; f"
    save = stash --all
    sb = "!f() { git stash branch $1; }; f"
    sd = "!f() { read -p 'Drop all? [y/n]: ' d; case $d in y) git stash drop;; n) echo 'aborting';; esac; }; f"
    sdi = "!f() { git stash drop stash@{$1}; }; f"
    sl = stash list
    sp = stash pop
    spi = "!f() { git stash pop stash@{$1}; }; f"
[commit]
    template = ~/.gitmessage
[core]
    attributesfile = ~/.gitattributes
    autocrlf = input
    editor = nano
    excludesfile = ~/.gitignore
    precomposeUnicode = true
[diff]
    guitool = meld
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = icdiff $LOCAL $REMOTE
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
[merge]
    ff = only
    guitool = meld
[merge]
    guitool = meld
[mergetool]
    keepBackup = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    trustExitCode = true
[user]
	email = 3581457+infosmith@users.noreply.github.com
	name = infosmith
